<!-- <p>professor-detail selected with id = {{ professorId }}</p>
<a (click)="goPrevious()">Previous</a>
<a (click)="goNext()">Next</a> -->

<!-- <div>
  <button (click)="goToProfessors()" type="button" class="btn btn-secondary">Back</button>
</div> -->

<div class="container">
<div class="row">
  <div class="col-12 text-right">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle><ng-container *ngIf="selectedAcadYear == null">Ακαδημαικό έτος</ng-container><ng-container *ngIf="selectedAcadYear != null">{{selectedAcadYearName}}</ng-container></button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem *ngFor="let sem of semester_list" (click)="onSelectAcademyYear($event)" [value]=sem.sem_id>{{sem.semester}}</button>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <h3 class="text-center">Λεπτομέρειες Καθηγητή</h3>
    
  </div>
  <hr>
  <div class="row">
    <div class="col-6">
      <h5>Όνομα Καθηγητή:</h5>
      <p>{{ prof_name}}</p>
      <h5>Τύπος Καθηγητή:</h5>
      <p>Επιλέξτε κατάσταση καθηγητή.</p>

      <mat-button-toggle-group #grou="matButtonToggleGroup" 

[value]="is_monimos1">
  <mat-button-toggle data-state="true" [value]="true" (click)="changeType($event.target)" aria-label="Text align left">
    Μόνιμος
  </mat-button-toggle>
  <mat-button-toggle data-state="false" [value]="false" (click)="changeType($event.target)" aria-label="Text align center">
    Εκτακτος
  </mat-button-toggle>
  <mat-button-toggle style="display: none;" [value]="null" aria-label="Text align right">
    format_al
  </mat-button-toggle>
</mat-button-toggle-group>

  
    </div>
    <div class="col-6">
      
      <div *ngFor="let sem of semester_list;">
        <ng-container *ngIf="selectedAcadYear != null" >
          <ng-container *ngIf="sem.sem_id == selectedAcadYear">
            <h5>Τύπος: </h5>
            <p style="display: inline-block;">{{sem.prof_type}}</p>
            <h5>Ώρες:</h5>
            <p style="display: inline-block;">{{sem.full_hours}}</p>
          </ng-container>
        </ng-container>

      </div>


      
    </div>

  </div>
  <hr>
  <div class="row">

    <div *ngIf="(showCourseTable); else elseBlock" class="col-6">
      <div *ngIf="hasCourseThisAcademicYear; else elseBlock1">
        <h3 class="text-center">Μαθήματα</h3>
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Κατάσταση</th>
            <th scope="col">Όνομα</th>
            <th scope="col">Εξάμηνο</th>
            <th scope="col">Τύπος Μαθήματος</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let course of courses_list;">
            <ng-container *ngIf="(selectedAcadYear != null)" >
              <ng-container *ngIf="course.sem_id == selectedAcadYear">
                <th>{{course.course_id}}</th>
                <th scope="row">{{course.is_active ? 'Ενεργό' : 'Ανένεργο'}}</th>
                <td (click)="onSelectedCourse(course)">{{ course.desc }}</td>
                <td>{{ course.examino }}</td>
                <td>{{ course.course_type }}</td>
              </ng-container>
            </ng-container>
  
          </tr>
          </tbody>
        </table>
      </div>
      <ng-template #elseBlock1>
        <div class="col-12">
          <h3 class="text-center">Δεν υπάρχουν μαθήματα γι' αυτό το εξάμηνο</h3>
        </div>
      </ng-template>
      
    </div>
    <ng-template #elseBlock>
      <div class="col-12">
        <h3 class="text-center">Παρακαλώ επιλέξτε εξάμηνο.</h3>
      </div>
    </ng-template>

    <div *ngIf="showDetails" class="col-6">
      <h3 class="text-center">Λεπτομέρειες</h3>
      <hr>
      <div class="text-center">
        <h4>Τίτλος:</h4>
        <p *ngIf="selectedCourseTitle != null">{{selectedCourseTitle}}</p>

        <h4>Τύπος Μαθήματος:</h4>
        <p *ngIf="selectedCourseType != null">{{selectedCourseType}}</p>

        <h4>Διδακτικές ώρες:</h4>
        <p *ngIf="selectedCourseType != null">{{selectedCourseTeachHours}}</p>

      </div>

    </div>

  </div>
