


<div class="container">
  <div class="row">

  </div>
  <div class="row">
    <div class="col-md-6">
      <h3 class="text-center">Contracts</h3>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Active</th>
          <th scope="col">Starts at</th>
          <th scope="col">Ends at</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let contract of contract_list;">
          <td scope="row">{{contract.title}}</td>
          <td scope="row">{{contract.status}}</td>
          <td scope="row">{{contract.starts_at | date: 'dd/MM/yyyy'}}</td>
          <td scope="row">{{contract.ends_at | date: 'dd/MM/yyyy'}}</td>
          <td style="display:inline-block;">
            <button style="margin-right: 5px;" (click)="onSelected(contract.id)" type="button" class="btn btn-secondary btn-sm">View</button>
            <button style="margin-right: 5px;" (click)="onSelected(contract.id,true)" type="button" class="btn btn-warning btn-sm">Edit</button>
            <!-- <button (click)="onDelete(contract.id)" type="button" class="btn btn-danger btn-sm">Delete</button> -->
          </td>

        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link" [class.active]="details_tab" (click)="selectedTab('details')" id="home-tab" data-toggle="tab" href="javascript:void(0);" role="tab" aria-controls="home" aria-selected="true">Details</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" [class.active]="new_contract_tab" (click)="selectedTab('new_contract')" id="profile-tab" data-toggle="tab" href="javascript:void(0);" role="tab" aria-controls="profile" aria-selected="false">{{ formState}}</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show" [class.active]="details_tab" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="text-center">
            <h4>Title:</h4>
            <p *ngIf="currentContract != null">{{currentContract.title}}</p>

            <h4>PDF:</h4>
            <button *ngIf="currentContract != null" class="btn btn-primary" (click)="download(currentContract)">Download</button>
            <!-- <p *ngIf="currentContract != null">{{currentContract.path}}</p> -->
            <h4>Status:</h4>
            <p *ngIf="currentContract != null">{{currentContract.status == 1 ? 'enable' : 'disable'}}</p>

            <h4>Starts At:</h4>
            <p *ngIf="currentContract != null">{{currentContract.starts_at | date: 'dd/MM/yyyy'}}</p>

            <h4>Ends At:</h4>
            <p *ngIf="currentContract != null">{{currentContract.ends_at | date: 'dd/MM/yyyy'}}</p>

          </div>
        </div>
        <div class="tab-pane fade show" [class.active]="new_contract_tab" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <form #contractForm="ngForm" (ngSubmit)="onSubmit(contractForm);" novalidate>

{{contractForm.value | json}}

            <div class="form-group d-none">
            <input type="text" name="prof_id" class="form-control" [(ngModel)]="contractModel.prof_id">
            </div>

            <div class="form-group">
              <label>Title</label>
              <input type="text" name="title" class="form-control" [(ngModel)]="contractModel.title">
            </div>
            <div class="form-group">
              <label>Description</label>
              <textarea class="form-control" name="description" [(ngModel)]="contractModel.description"></textarea>
            </div>
            <mat-form-field appearance="fill">
              <mat-label>Enter a date range</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate name="from" placeholder="Start date" [(ngModel)]="contractModel.starts_at">
                <input matEndDate name="until" placeholder="End date" [(ngModel)]="contractModel.ends_at">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
            <!-- <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
            </ngb-datepicker>
            
            <ng-template #t let-date let-focused="focused">
              <span class="custom-day"
                    [class.focused]="focused"
                    [class.range]="isRange(date)"
                    [class.faded]="isHovered(date) || isInside(date)"
                    (mouseenter)="hoveredDate = date"
                    (mouseleave)="hoveredDate = null">
                    
                {{ date.day }}
              </span>
            </ng-template> -->
            <!-- <pre>From: {{ starts_at | json }} </pre>
<pre>To: {{ ends_at | json }} </pre> -->

<div class="row">
  <div class="col-8">
    <label class="btn btn-default p-0">
      <input class="form-control" accept="image/*" type="file" (change)="onFileSelected($event)" #fileUpload/>
    </label>
  </div>


</div>
          

            <button class="btn btn-primary" type="submit">Submit new contract</button>
            <button class="btn btn-primary" (click)="resetForm(contractForm)">Reset</button>



          </form>
        </div>
      </div>

      <!-- <h3 class="text-center">Details</h3> -->


    </div>

  </div>
</div>
