


<div class="container">
  <div class="row">
    <div class="col-12 text-right">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle><ng-container *ngIf="selectedAcadYear == null">Ακαδημαικό έτος</ng-container><ng-container *ngIf="selectedAcadYear != null">{{selectedAcadYearName}}</ng-container></button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          
          <button ngbDropdownItem *ngFor="let sem of semester_list" (click)="onSelectAcademyYear($event)" [value]=sem.sem_id>{{sem.semester}}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h3 class="text-center">{{ profType == 1 ? 'Αναθέσεις' : 'Συμβάσεις'}}</h3>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Όνομα</th>
          <th scope="col">Κατάσταση</th>
          <th scope="col">Από</th>
          <th scope="col">Μέχρι</th>
          <th scope="col">Ενέργειες</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let contract of contract_list;">
          <ng-container *ngIf="selectedAcadYear == contract.sem_id">
          <td scope="row">{{contract.title}}</td>
          <td scope="row">{{contract.status == 0 ? 'Ανενεργή' : 'Ενεργή'}}</td>
          <td scope="row">{{contract.starts_at | date: 'dd/MM/yyyy'}}</td>
          <td scope="row">{{contract.ends_at | date: 'dd/MM/yyyy'}}</td>
          <td style="display:inline-block;">
            <button style="margin-right: 5px;" (click)="onSelected(contract.id)" type="button" class="btn btn-secondary btn-sm">Προβολή</button>
            <button style="margin-right: 5px;" (click)="onSelected(contract.id,true)" type="button" class="btn btn-warning btn-sm">Επεξεργασία</button>
            <button style="margin-right: 5px;" (click)="destroy(contract.id)" type="button" class="btn btn-danger btn-sm">Διαγραφή</button>
            <!-- <button (click)="onDelete(contract.id)" type="button" class="btn btn-danger btn-sm">Delete</button> -->
          </td>
        </ng-container>

        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link" [class.active]="details_tab" (click)="selectedTab('details')" id="home-tab" data-toggle="tab" href="javascript:void(0);" role="tab" aria-controls="home" aria-selected="true">Λεπτομέρειες</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" [class.active]="new_contract_tab" (click)="selectedTab('new_contract')" id="profile-tab" data-toggle="tab" href="javascript:void(0);" role="tab" aria-controls="profile" aria-selected="false">{{ formState}}</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show" [class.active]="details_tab" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="text-center">
            <div *ngIf="!noContracts; else elseBlock1">
              <h4>Τίτλος:</h4>
              <p *ngIf="currentContract != null">{{currentContract.title}}</p>

              <h4>Αρχείο:</h4>
              <button  *ngIf="currentContract != null && currentContract.path != ''; else noFile" class="btn btn-primary" (click)="download(currentContract)">Λήψη</button>
              <ng-template #noFile>
                <p>Χωρίς αρχείο</p>
              </ng-template>
              <!-- <p *ngIf="currentContract != null">{{currentContract.path}}</p> -->
              <h4>Κατάσταση:</h4>
              <p *ngIf="currentContract != null">{{currentContract.status == 1 ? 'Ενεργή' : 'Ανένεργη'}}</p>

              <h4>Από:</h4>
              <p *ngIf="currentContract != null">{{currentContract.starts_at | date: 'dd/MM/yyyy'}}</p>

              <h4>Μέχρι:</h4>
              <p *ngIf="currentContract != null">{{currentContract.ends_at | date: 'dd/MM/yyyy'}}</p>

            </div>
            <ng-template #elseBlock1>
             
                <h3 class="text-center">Δεν υπάρχουν αναθέσεις γι' αυτό το εξάμηνο</h3>
              
            </ng-template>
          </div>
        </div>
        <div class="tab-pane fade show" [class.active]="new_contract_tab" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <form #contractForm="ngForm" (ngSubmit)="onSubmit(contractForm);" novalidate>


            <div class="form-group d-none">
            <input type="text" name="prof_id" class="form-control" [(ngModel)]="contractModel.prof_id">
            </div>

            <div class="form-group">
              <label>Τίτλος</label>
              <input type="text" name="title" class="form-control" [(ngModel)]="contractModel.title">
            </div>
            <div class="form-group">
              <label>Περιγραφή</label>
              <textarea class="form-control" name="description" [(ngModel)]="contractModel.description"></textarea>
            </div>
            <mat-form-field appearance="fill">
              <mat-label>Εύρος ημερομηνιών</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate name="from" placeholder="Start date" [(ngModel)]="contractModel.starts_at">
                <input matEndDate name="until" placeholder="End date" [(ngModel)]="contractModel.ends_at">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
            <!-- <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
            </ngb-datepicker>
            
            <ng-template #t let-date let-focused="focused">
              <span class="custom-day"
                    [class.focused]="focused"
                    [class.range]="isRange(date)"
                    [class.faded]="isHovered(date) || isInside(date)"
                    (mouseenter)="hoveredDate = date"
                    (mouseleave)="hoveredDate = null">
                    
                {{ date.day }}
              </span>
            </ng-template> -->
            <!-- <pre>From: {{ starts_at | json }} </pre>
<pre>To: {{ ends_at | json }} </pre> -->

            <div class="row">
              <div class="col-20" style="margin-left: 15px!important;">
                <label class="btn btn-default p-0">
                  <input class="form-control-file" accept="image/*" type="file" (change)="onFileSelected($event)" #fileUpload/>
                </label>
              </div>


            </div>
          

            <button style="margin-right: 3px;" class="btn btn-primary" type="submit">Δημιουργία</button>
            <button class="btn btn-primary" (click)="resetForm(contractForm)">Επαναφορά</button>



          </form>
        </div>
      </div>

      <!-- <h3 class="text-center">Details</h3> -->


    </div>

  </div>
</div>
