<div class="container" style=" max-width: 500px; margin: auto; padding: 10px; ">
    <div class="row">
        <div style="text-align: center; font-size: 34px; margin-bottom: 80px;">Personnel Management System PMS</div>
        <br>
        <div style="padding-bottom: 50px; padding-left: 24%;"><img class="img-responsive" src="../assets/logoMIS1.png"></div>
        <div style="margin-right: 5px!important; text-align: center;  background-color: #007bff!important; color: white!important; padding: 14px 20px!important; margin: 8px 0!important; border: none!important; cursor: pointer!important; width: 100%!important;"><button  (click)="login()" type="button" class="btn btn-primary btn-sm" >Σύνδεση</button></div>
    </div>

</div>

